body{
    background-color: #eaebed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.red-text{
    color: #ea354b;
}

.reminder{
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 15px;
    margin-top: 1rem;
}

/* NOTIFICACIONES */
.notification{
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #eaebed;
    padding: 1rem;
    border-radius: 20px;
    z-index: 999;
    border: 2px solid #ea354b;
    font-size: 1.5rem;
}


/* NAV */

nav{
    background-color: #ea354b;
/*     border-bottom: #ea354b 2px inset; */
}

nav a:hover{
    color: #eaebed;
}

.nav-link{
    color: white;
}

#nav-logo{
    width: 15rem;
}

.navbar-toggler{
    position: absolute;
    right: 2rem;
}


/* SECCION CARRITO */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.cart-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    max-height: 50%;
    overflow-y: auto;
  }

  .cart-title{
    text-align: center;
    font-size: 2rem;
  }

  .cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .column{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .cart-item-price{
    color: green;
  }

  .cart-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

    .cart-total-price{
        color: green;
    }   

.empty-cart{
    text-align: center;
    font-size: 1.5rem;
}


/* SECCION JUEGOS */
h1{
    margin: 2rem;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.card-img{
    padding: 1rem;
    border-radius: 40px;
    width: 382px;
    height: 573px;
}

.card-body{
display: flex;
flex-direction: column;
width: 100%;
}


.card-price{
    font-size: 1.5rem;
}

.add-to-cart-btn{
    margin-top: 1rem;
}

.green{
    color: green;
}

.card-body a, button{
    width: 100%;
}





/* SECCION DETALLE JUEGOS */


.details{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}





.details h1{
    color: #ea354b;
}

.details a{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.det-text{
    font-size: 1.5rem;
}

.det-price{
    font-size: 2rem;
}

.details button{
    font-size: 2rem;
}

/* SECCION DETALLE JUEGOS */

.back-btn{
    margin-top: 2rem;
    margin-left: 2rem;
}

.back-btn a{
    font-size: 1.5rem;
}


#game-det-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

.det-img{
    border-radius: 20px;
    border: 1px solid #ea354b;
    width: 382px;
}

.det-body{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 60%;
}

/* SECCION FOOTER */
footer{
    margin-top: auto;
    height: 4rem;
    background-color: rgb(37, 37, 37);
    border-top: #ea354b 2px outset;
}
