<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DV - Game Store</title>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="../index.html"><img id="nav-logo" class="navbar-brand" src="../img/logo.png" alt="DV Game Store Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li><a class="nav-link" href="../index.html">Home</a></li>
        <li><a class="nav-link" href="add_product_form.html">Agregar Producto</a></li>
        <li><a class="nav-link" onclick="CartOverlay()">Mi Carrito</a></li>
      </ul>
      <div>
        <button class="btn btn-primary" id="install-button">Instalar App</button>
      </div>
    </div>
  </div>
</nav>

<h1>Subir Producto a Woocommerce</h1>

  
<div class="container">
  
    <form id="productForm">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
      
        <div class="mb-3">
          <label for="price" class="form-label">Precio:</label>
          <input type="number" step="0.01" class="form-control" id="price" name="price" required>
        </div>
      
        <div class="mb-3">
          <label for="description" class="form-label">Descripcion:</label>
          <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Link de imagen:</label>
          <input type="text" class="form-control" id="image" name="image">
          <p>Si no se pone una imagen, tendra como imagen un placeholder</p>
        </div>
      
        <button type="submit" class="btn btn-primary">Subir producto a tienda</button>
      </form>
  </div>



<footer class="d-flex justify-content-center align-items-center">
    <div>
        <img class="inverted-logo" src="../img/logo-red.png" alt="DV Game Store Logo">
    </div>
</footer>




    
</body>
<script src="../js/bootstrap/bootstrap.js"></script>
<script src="../js/add_product_form.js"></script>
<script src="../js/cart.js"></script>
<script src="../js/sw_installer.js"></script>
</html>