<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DV - Game Store</title>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
</head>
<body>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="../index.html"><img id="nav-logo" class="navbar-brand" src="../img/logo.png" alt="DV Game Store Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li><a class="nav-link" href="../index.html">Home</a></li>
        <li><a class="nav-link" href="add_product_form.html">Agregar Producto</a></li>
        <li><a class="nav-link" onclick="CartOverlay()">Mi Carrito</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="back-btn">
    <a href="../index.html" class="btn btn-primary">Go Back</a>
</div>

<div id="game-det-container">



</div>





<footer class="d-flex justify-content-center align-items-center">
    <div>
        <img class="inverted-logo" src="../img/logo-red.png" alt="DV Game Store Logo">
    </div>
</footer>




    
</body>
<script src="../js/bootstrap/bootstrap.js"></script>
<script src="../js/product_detail.js"></script>
<script src="../js/cart.js"></script>
</html>